html {
  scroll-behavior: smooth;
}

.btn-gradient {
  background: linear-gradient(180deg, #3273ff 0, #35bbff 100%);
  background-size: 300% auto;
  background-position: 100% 0;
}

.bg-wave{
  background-image: url(../src/assets/wave-background.png);
  background-position: top;
  background-size: cover;
}

.slick-slide {
  padding: 10px;
}
.slick-list {
  padding: -10px;
}

/* ---Sidebar css */

.sidebar {
  width: 220px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.5s;
  z-index: 50 !important;
  margin-top: 80px;
  margin-right: 20px;
}

.sidebar.active {
  right: 0;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.sd-body {
  padding: 10px;
  overflow-x: hidden;
}

.sd-body ul {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.sd-body ul li {
  list-style: none;
  margin-bottom: 10px;
  width: 100%;
}
